<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Tickets</title>
    </head>
    <body>
        <h1>Sistema de Gestion de Tickets</h1>
    <p>Esta aplicacion nos va a permitir tener el control de los tickets atendidos por un tecnico de soporte</p>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Tickets</a></li>
            <li><a href="#">Crear Ticket</a></li>
            <li><a href="#">Reportes</a></li>
        </ul>
    </nav>
    <section>
        <h2>Tickets</h2>
        <p>25</p>
    </section>
    <section>
        <h2>Pendientes</h2>
        <p>8</p>
    </section>
    <section>
        <h2>Resueltos</h2>
        <p>17</p>
    </section>
    </body>
</html>